.zLoginTitle {
	font-size:21px;
	font-weight:bold;
	color:#2ececb;
}
.zDivCenter {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.zMaxWidth {
	max-width: 950px;
}
.naClassHide {
	display: none;
}
.totals {
	background: #fccf52;
	font-weight: bold;
}
.table-bordered,
.table-bordered th,
.table-bordered td {
	border: 1px solid #000 !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;     /* remove the gap so it doesn't close*/
}